<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=false">
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css">
   
    <title>Gallery</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        
        <a class="navbar-brand">
            <img src="/images/43.jpg" width="20" height="20" alt="">
            AGENCY
        </a>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="./Home.html" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="./About.html" class="nav-link">ABOUT US</a></li>
                <li class="nav-item"><a href="./Service.html" class="nav-link">SERVICES</a></li>
                <li class="nav-item"><a href="./" class="nav-link active">GALLERY</a></li>
                <li class="nav-item"><a href="./Contact.html" class="nav-link">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <section>

        </section>
        <section>

        </section>
    </div>
</body>
</html>