{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   
    <script src="{% static 'gsap-public/minified/gsap.min.js' %}"></script>
    <script src="{% static 'gsap-public/minified/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'gsap-public/minified/ScrollToPlugin.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <title>home</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        
        <a class="navbar-brand">
            <img src="{% static 'images/43.jpg' %}" width="30" height="20" alt="">
            Gibs-Tech
        </a>
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" type="menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">HOME</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">ABOUT US</a></li>
                <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">SERVICES</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <div class="home_img" id="home">
        <img src="{% static 'images/HomeDesktopheader.jpg' %}" alt="" width="100%" height="678"/>
       <div class="home_sub ">
            <p class="title_big">Welcome to <span>Gib software Technology</span></p>
            <p class="title_small">Thanks for choosing us. Learn more about latest app</p>
       </div>
    </div>

    <div class="section_1 box container">
        <div class="">
            <p class="sect_1a">We create <span>Solution</span> for your problems</p>
            <p class="sect_1b">We build moderns solutions and application that respect your time and money
                and we bring to you the best quality software.
            </p>
        </div>
    </div>

    <div class="section_2 box ">
        <img src="{% static 'images/HomeMobileSlide0.jpg' %}" alt="">
        <div>
            <h3>Why choose us</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio velit m
                inima, molestiae numquam sunt fug
                iat atque maxime quam, harum quas itaq
                ue cupiditate nobis, sint 
                mollitia sit inventore reiciendis nesciunt! Magni.
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Natus necessitatibus enim,
                asperiores quis adipisci perspiciatis laborum. 
                Itaque, veniam cum omnis, facilis ex ullam at aspernatur 
                neque reprehenderit nostrum rem officia?
            </p>
            <button class="sect_2_button">Read More</button>
        </div>
    </div>

    <div class="breakDiv box">
        <p>
            We offer the best solution
        </p>
    </div>

    <div class="section_2 box ">
        <img src="{% static 'images/44.jpg' %}" alt="">
        <div>
            <h3>Some of our Customers</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio velit m
                inima, molestiae numquam sunt fug
                iat atque maxime quam, harum quas itaq
                ue cupiditate nobis, sint 
                mollitia sit inventore reiciendis nesciunt! Magni.
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Natus necessitatibus enim,
                asperiores quis adipisci perspiciatis laborum. 
                Itaque, veniam cum omnis, facilis ex ullam at aspernatur 
                neque reprehenderit nostrum rem officia?
            </p>
            <button class="sect_2_button">See More</button>
        </div>
    </div>

    <div class="section_3 box ">
        <img src="{% static 'images/GalleryDesktopheader.jpg' %}" alt="">
        <div class="sect">
            <div class="sect_3">
                <div class="sect_3_text">
                    <p class="about_home"><span>About</span> Company Startup</p>
                    <p class="about_sub">We are specialized in building moderns applications.</p>
                    <p class="about_text">Our engineers build scalable, dynamic, flexible and usable 
                        web applications, mobile applications and desktop applications for your need.
                    </p>
                </div>
                <div class="timeDay">
                    24/7
                </div>
            </div>
        </div>
    </div>

    <div class="breakDiv box">
        <p>
            Our Features and Applications
        </p>
    </div>

    <div class="section_4 box">
        <div class="sect_4">
            <div>
                <img src="{% static 'images/45.png' %}" alt="" width="50" height="50">
                <h6>Mobile App</h6>
            </div>
            <div>
                <img src="{% static 'images/46.png' %}" alt="" width="50" height="50">
                <h6>Websites App</h6>
            </div>
            <div>
                <img src="{% static 'images/47.png' %}" alt="" width="50" height="50">
                <h6>Desktop App</h6>
            </div>
            <div>
                <img src="{% static 'images/48.png' %}" alt="" width="50" height="50">
                <h6>Data Science</h6>
            </div>
        </div>
    </div>

    <div class="breakDiv box">
        <p>
            Let's our stats talk
        </p>
    </div>

    <div class="section_5 box ">
        <img src="{% static 'images/HomeDesktophtml_row7.jpg' %}" alt="" class="section_5_img">
        <div class="sect">
            <div class="sect_5">
                <div class="sect_5_text">
                    <img src="{% static 'images/49.png' %}" alt="">
                    <h5>Free bug software</h5>
                </div>
                <div class="sect_5_text">
                    <h5>2000</h5>
                    <img src="{% static 'images/50.png' %}" alt="">
                    <h5>Satisfied Customers</h5>
                </div>
                <div class="sect_5_text">
                    <h5>15000</h5>
                    <img src="{% static 'images/51.png' %}" alt="">
                    <h5>Working Hours</h5>
                </div>
                <div class="sect_5_text">
                    <h5>400</h5>
                    <img src="{% static 'images/52.png' %}" alt="">
                    <h5>Themes</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="breakDiv box">
        <p>
            What customers say
        </p>
    </div>

    <div class="section_6 box ">
        <img src="{% static 'images/HomeMobilehtml_row13.png' %}" alt="" class="section_6_img">
        <div class="sect">
            <div class="sect_6">
                <div class="sect_6_text">
                   <img src="{% static 'images/61.png' %}" alt="" width="150">
                </div>
                <div class="sect_6_text">
                   Lorem ipsum dolor sit amet consectetur, 
                   adipisicing elit. Quia harum eveniet vi
                   tae delectus pariatur sunt voluptate tene
                   tur inventore repellat ab reiciendis quas
                    quisquam rem impedit, illum,
                    possimus ad architecto rerum.
                </div>
                <div class="sect_6_text">
                   Alan walker - Producer
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <p style="font-size: x-large; padding-top: 40px;">
            Become one of our happier customer
        </p>
    </div>
    <div style="font-size: medium; text-align: center; width: 80%; margin: auto;">
        Lorem ipsum dolor sit amet consect
        etur adipisicing elit. Fu
        ga alias sequi sint sunt facil
        is eos magni amet at impedit repel
        lat nostrum, laboriosam quidem ve
        ro unde necessitatibus 
        quod labore? Quae, libero?
    </div>
    <div style="text-align: center; margin-bottom: 70px; width: 150px; margin: auto;">
        <a class="customer_button nav-link" href="{% url 'contact' %}">Join Us now</a>
    </div>
    
    <footer class="box">
        <div class="footer_head">
            Stay Connected With Us
        </div>
        <div class="footer_body">
            <img src="{% static 'images/footerfacebook.png' %}" alt="">
            <img src="{% static 'images/footergoogleplus.png' %}" alt="">
            <img src="{% static 'images/footerlinkedin.png' %}" alt="">
            <img src="{% static 'images/footertwitter.png' %}" alt="">
        </div>
        <div class="footer_foot">
            Developped by Longmene Gibril 
        </div>
    </footer>

    <div id="gotoUp" style="width: 100%; position: fixed; bottom: 0px; text-align: right; padding: 20px;">
       
            <img src="{% static 'images/gototop0.png' %}" alt="" style="width: 40px; ">
       
    </div>
   
    
    <script src="{% static 'javascript/scrollPage.js' %}"></script>
    <script>
        var scrolltoUp = document.getElementById('gotoUp').addEventListener('click',()=>{
            gsap.to(window, {duration: 1, scrollTo: 0});
            console.log('it was clicked')
        })
    </script>

</body>
</html>